@keyframes pulse
    from
        opacity .4
        top 0
    50%
        opacity 1
        top -10px
    to
        opacity .4
        top 0

.flex-grid article
    opacity 0
.flex-grid article.shown
    opacity 1
.flex-grid article.animate
    transform translateY(200px)
    animation moveUp 0.65s ease forwards

@keyframes moveUp
    0% { }
    100% { transform: translateY(0); opacity: 1; }