{{ if eq .Lang "en"}}
<blockquote>The code shown along this series is hosted on my <a href="https://github.com/elbaulp/grado_informatica_criptografia" target="_blank">github</a></blockquote>

<p><em>Cryptography course notes by Professor <strong>Jesús García Miranda</strong>, Higher Technical School of Information Technology and Telecommunications Engineering of the University of Granada.</em></p>
{{ else }}
<blockquote>Todo el código mostrado en los artículos está disponible en <a href="https://github.com/elbaulp/grado_informatica_criptografia" target="_blank">github</a></blockquote>

<p><em>Apuntes de la asignatura criptografía del profesor <strong>Jesús García Miranda</strong>, Escuela Técnica Superior de Ingenierías Informática y de Telecomunicación (ETSIIT), Granada.</em></p>
{{ end }}
