{{ if eq .Lang "en"}}
<blockquote>
<p>This post is part of a series on Category Theory for Scala I am writing based on <a target="_blank" href="https://bartoszmilewski.com/2014/10/28/category-theory-for-programmers-the-preface/">Bartosz Milewski Book on the same topic</a>. As I read the book, I take notes, I try to solve the Challenges Bartosz proposes in Scala and make them public in this posts. You can find all the code in my github repo <a href="https://github.com/elbaulp/Scala-Category-Theory">elbaulp/Scala-Category-Theory</a>, you can also visit the <a href="/en/scala-category-theory/">Table Of Contents</a> of this series.</p>
</blockquote>
{{ else }}
<blockquote>
<p>Este artículo es parte del curso de <strong>Introducción a la Criptografía</strong>, el código está disponible en elbaulp/cripto, también hay una tabla de contenidos</p>
</blockquote>
{{ end }}
