{{ if eq .Lang "en"}}
<blockquote>
<p>This post is part of a series on <strong>Cryptography 101</strong>, source code is available at <a href="https://github.com/elbaulp/grado_informatica_criptografia">elbaulp/cripto</a>, there is also a <a href="/en/cryptography-101/">Table of Contents.</a></p>
</blockquote>
{{ else }}
<blockquote>
<p>Este artículo es parte del curso de <strong>Introducción a la Criptografía</strong>, el código está disponible en <a href="https://github.com/elbaulp/grado_informatica_criptografia">elbaulp/cripto</a>, también hay una <a href="/introduccion-criptografia/">tabla de contenidos.</a></p>
</blockquote>
{{ end }}
