{{ if eq .Lang "en"}}
<blockquote>
<p>This post is part of a series on Category Theory for Scala I am writing based on <a target="_blank" href="https://bartoszmilewski.com/2014/10/28/category-theory-for-programmers-the-preface/">Bartosz Milewski Book on the same topic</a>. As I read the book, I take notes, I try to solve the Challenges Bartosz proposes in Scala and make them public in this posts. You can find all the code in my github repo <a href="https://github.com/elbaulp/Scala-Category-Theory">elbaulp/Scala-Category-Theory</a>, you can also visit the <a href="/en/scala-category-theory/">Table Of Contents</a> of this series.</p>
</blockquote>
{{ else }}
<blockquote>
<p>Este artículo forma parte de una serie sobre Teoría de Categorías en Scala que estoy escribiendo basándome en <a target="_blank" href="https://bartoszmilewski.com/2014/10/28/category-theory-for-programmers-the-preface/">el libro de Bartosz Milewski</a>. Conforme voy leyendo, tomo notas y intento resolver los ejercicios propuestos por Bartosz, pero en Scala. El producto de ese trabajo son estos artículos que comparto en este blog. Todo el código está en <a href="https://github.com/elbaulp/Scala-Category-Theory">elbaulp/Scala-Category-Theory</a>, también puedes visitar la <a href="/scala-category-theory/">tabla de contenidos</a> de esta serie.</p>
</blockquote>
{{ end }}
