<hr/>
<div class="support-us">
  <p><strong>{{ T "ads_title" }}</strong></p>
  <ul>
    <li><em>{{ T "ads_adblock" }}</em></li>
    <li><em><a id="amazon-ad" href="{{ T "ads_amz_link" }}">{{ T "ads_amz" }}</a></em></li>
    <li><em><a id="revresponse-ad" href="/manuales-gratuitos/">{{ T "ads_guide" }}</a></em></li>
    <li><em><a id="patreon-ad" href="http://patreon.com/elbauldelprogramador">{{ T "ads_patreon" }}</a></em></li>
  </ul>
  <div id="ad-slot">
    <amp-ad
       width="300"
       height="250"
       type="adsense"
       data-ad-client="{{ $.Site.Params.adsensePublisher }}"
       data-ad-slot="{{ $.Site.Params.adSlot }}"
       layout="responsive">
    </amp-ad>
  </div>
</div> <!-- /.google-ads -->
<hr/>
