<div class="tags">
  {{ with .Params.categories }}
  <strong>{{ T "post_cats" }}</strong>
  <div id="taxo">
  {{ range . }}
     <a id="cats" href="{{ "/categories/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  </div>
{{ end }}
{{ with .Params.tags }}
  <strong>{{ T "post_tags" }}</strong>
  <div id="taxo">
  {{ range . }}
  <a id="tags" href="{{ "/tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a>
  {{ end }}
  </div>
{{ end }}
</div>

{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h1>{{T "related" }}</h1>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
