{{ if eq .Lang "en" }}
<blockquote>
  <p><strong>NOTE</strong>: If you want to support us <em>The Programmer's Chest</em>, you can download any of this free Ebooks. For that you need to fill the form with real information. If the form is filled correctly, we get $1.5. If you have a blog and want this form of monetization, you can subscribe at <a id="revresponse" href="http://www.revresponse.com/join.php?refbrand=bashyc-blogspot" target="_blank" title="RevResponse">RevResponse</a>. <a href="http://elbauldelprogramador.tradepub.com/category/information-technology/1207/" target="_blank" title="Free Ebooks catalog">Check the complete catalog of free ebooks.</a></p>
</blockquote>
{{ else }}
<blockquote>
  <p><strong>NOTA</strong>: Si quieres apoyar el trabajo que realizamos en <em>El Baúl del Programador</em>, descargar alguna de estas guías es una buena forma. Para ello en el formuario de descarga <strong> debes indicar que trabajas en el sector relacionado con la guía que descargas, a que te dedicas etc, de lo contrario no obtendremos comisión</strong> ($1.5). Si tienes un blog y quieres usar esta forma de monetización, puedes darte de alta en <a id="revresponse" href="http://www.revresponse.com/join.php?refbrand=bashyc-blogspot" target="_blank" title="RevResponse">RevResponse</a> y empezar a ofrecer guías de interés a tus lectores. Visita el <a href="http://elbauldelprogramador.tradepub.com/category/information-technology/1207/" target="_blank" title="Catálogo completo de Guías gratuítas">catálogo completo de guías.</a></p>
</blockquote>
{{ end }}
