<header class="bar-header">
  <h1 class="logo">
    <a id="logo" href="{{ "/" | absLangURL }}"></a>
    <a href="/">
      <svg class="icon flag-es">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flag-es"></use>
      </svg>
    </a>
    <a href="/en/">
      <svg class="icon flag-en">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#flag-en"></use>
      </svg>
    </a>
  </h1>
</header>

{{ partialCached "svgicons" . }}

<div class="w3-sidebar w3-bar-block w3-collapse w3-card
            w3-animate-right" id="mySidebar">

  <button class="w3-button w3-bar-item  w3-hide-large"
          onclick="w3_close()">&times;</button>

  <nav id="navigation">
    <h2>{{ T "header_menu" }}</h2>
    <ul>
      {{ $currPage := . }}
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL | absLangURL }}">
          {{ .Name }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>

<a id="search" class="dosearch" href="{{ "/buscar" | absLangURL }}"><svg class="icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg> </a>
<a id="slide" class="slideButton fade">
  <svg onclick="w3_open()" id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
</a>
