<section class="subscribe">
  <a aria-label="{{ T "share_newsletter" }}" href="{{ T "share_signup" }}" title="{{ T "share_newsletter" }}">
    <svg class="icon icon-mail">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-mail"></use>
    </svg>
  </a>
  <a aria-label="{{ T "share_rss" }}" href="{{ "/rssfeed" | absLangURL }}" title="{{ T "share_rss" }}">
    <svg class="icon icon-rss">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-rss"></use>
    </svg>
  </a>
  <a aria-label="{{ T "share_follow_tw" }}" title="{{ T "share_follow_tw" }}" href="http://twitter.com/elbaulp" target="_blank"><svg class="social icon-twitter"><use xlink:href="#icon-twitter"></use></svg></a>
  <a aria-label="{{ T "share_follow_gp" }}" title="{{ T "share_follow_gp" }}" href="http://plus.google.com/+ElBaulDelProgramador"  target="_blank"><svg class="social icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg></a>
  <a aria-label="{{ T "share_follow_tl" }}" href="https://telegram.me/elbaulp"  target="_blank"><svg class="social icon-telegram"><use xlink:href="#icon-telegram"></use></svg></a>
</section>
