<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "{{ .Site.Params.organizationName}}",
        "url": "{{ .Site.BaseURL }}",
        "sameAs": ["http://plus.google.com/+elbauldelprogramador",
                   "https://twitter.com/elbaulp",
                   "https://telegram.me/elbaulp"]
        {{ with .Site.Params.organizationLogo }}, "logo": "{{ . }}"{{ end }}
        {{ with .Site.Params.organizationAddress }}, "address": "{{ . }}"{{ end }}
        {{ with .Site.Data.organization.contacts.contactPoint }}, "contactPoint": {{ . }}{{ end }}
    }
</script>
