{{ if ne .Params.amp.enable false }}

<!DOCTYPE html>
<!--[if lt IE 8 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js oldie"><![endif]-->
<!--[if IE 8 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html {{ if isset $.Site.Params "amp" }}amp{{ end }} lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html {{ if isset $.Site.Params "amp" }}amp{{ end }} class="no-js"><!--<![endif]-->
<head>
    <title>{{ .Title }}</title>
    <meta charset="utf-8">

    {{ partial "amp/header" . }}
    <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.1.js"></script>

    {{ if eq .Type "post"}}
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    {{ end }}
    {{ if findRE "/manuales-gratuitos/" .URL 1 }}
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    {{ end }}

    <link rel="canonical" href="{{ .Permalink }}">

    <link rel="icon" href="/favicon.png" type="image/png" sizes="144x144">

    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <meta name="theme-color" content="{{ $.Site.Params.themeColor }}" />

    {{ partial "seo/main" . }}
    {{ if .IsTranslated }}
       {{ range .Translations }}
       <link rel="alternate" hreflang="{{.Lang}}" href="{{.Permalink}}">
       {{ end }}
    {{ end }}
</head>

<body>
{{ if isset $.Site.Params "ampmanifest" }}
{{ with $.Site.Data.app.banner }}{{ partial "amp/app-banner" . }}{{ end }}
{{ end }}

{{ else }}
{{ partial "structure/head.no-amp" . }}
{{ end }}
