.author
    background lightGray
    display table
    width 100%
    padding-top rem(5px)
    .details
        margin auto
        max-width rem(560px)
        padding 0 rem(20px)
        display flex
        flex-flow column nowrap
        #author-photo
            flex 1 0 rem(90px)
            margin rem(10px)
        +below(cut)
            text-align center
            flex-flow column wrap
            #author-photo
                margin 0 auto

    img,amp-img
        border-radius 50%
        display block
        margin auto
    .def
        color gray
        font-size rem(10px)
        mainFont(300)
        margin rem(10px)
        text-align center
        +above(cut)
            margin 0
    .name
        margin 0
        a
            mainFont()
            text-decoration none
            border-bottom none
            color black
            font-size rem(14px)
            &:hover
                color main
    .desc
        mainFont(300)
        margin rem(10px)
        font-size rem(12px)
    .email
        text-decoration none
        color main
    .social
        size(24,24)
