.share
    center(800px)
    text-align center
    border-top 1px solid lightGray
    padding-top rem(20px)
    display flex
    justify-content center
    article &
        border-top none
    svg
        margin rem(15px)
        size(35,35)
        +below(cut)
           size(16,16)
    a
        text-decoration none
        border none

.author .share
    center(800px)
    text-align center
    border-top 1px solid lightGray
    padding-top rem(20px)
    article &
        border-top none
    a
        text-decoration none
        border none

.subscribe
    position fixed
    top 10px
    z-index 17
    right rem(90px)
    min-height rem(40px)
    a
      text-decoration none
    svg
       margin 0 rem(8px)
       size(32,32)
    +below(cut)
       display none
        
.icon-twitter
   fill #1da1f2

.icon-facebook
   fill #3b5998

.icon-google-plus
   fill #db4437

.icon-mail
   fill #2f56a7

.icon-rss
   fill #f79635

.icon-github
   fill #333333

.icon-stack-overflow
   fill #f48024

.icon-linkedin
   fill #0077b5

.icon-telegram
   fill #54b3e6

.icon-medium1
   fill #D0D0D0
   
.icon-medium2
   fill #A1A1A1
   
.icon-medium3
   fill #808080

.icon-medium4
   fill #575757

figure#medium
   max-width rem(128px)
